/* style.css */

/* Ce fichier CSS gère le style de la vitrine des projets et documentations */

/* Importation de la police de caractères personnalisée */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* Réinitialisation des marges et paddings */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Section principale contenant les projets et documentations */
.dernier {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100svh;
  margin: 0;
  padding: 0;
}

/* Table principale pour organiser les éléments */
.main-table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Cellule contenant les titres */
.title-cell {
  padding-left: 1vw;
}

/* Cellule contenant le contenu */
.content-cell {
  width: 50%;
  height: auto;
  padding: 0;
  margin: 0;
}

/* Style des vignettes des projets */
.dernier-projet {
  position: relative;
}

/* Superposition pour afficher les détails au survol */
.dernier-overlay {
  bottom: 0;
  display: flex;
  position: absolute;
  align-items: flex-end;
  /* justify-content: space-between; */
  /* box-sizing: border-box; */
  padding: 2%;
  width: 100%;
  height: 100%;
}

.content-side {
  display: flex;
  max-width: 80%;
}

.separator {
  background-color: #808080;
  margin: 0 1svw;
  margin-top: 2%;
  width: 1px; /* a ajuster après modification de l'agencement*/
  height: 9.3vh;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Utile ? */
}

.btn-side {
  display: flex;
  margin-bottom: 2%;
  margin-left: 7%; /* Ajust la position vers la droite */
  width: auto; /* Prends toutes la largeur */
}

.dernier-projet:hover {
  transform: translateY(-1%);
}

/* Styles */

.title-cell h2 {
  font-size: clamp(1rem, 2.5vw + 1rem, 2rem);
}

.dernier-overlay {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background: linear-gradient(rgba(0 0 0 / 30%), rgba(0 0 0 / 90%));
}

.dernier-projet:hover .dernier-overlay {
  opacity: 1;
  background-position: 100% 0;
  transition: background-position 0.5s, opacity 0.5s;
}

.dernier-overlay h3 {
  color: #fff;
  font-size: clamp(0.5rem, 2.5vw + 0.5rem, 1.5rem); /* a ajuster après modification de l'agencement*/
}

.dernier-overlay p {
  color: #fff;
  font-size: clamp(0.5rem, 2.5vw + 0.5rem, 1rem); /* a ajuster après modification de l'agencement*/
  margin-top: 2.5%;
  padding-right: 5vw;
}

.text-content{
  margin-top: 1.9%;
}

/* Styles pour les images des projets */

.dernier-img {
  position: relative;
  overflow: hidden;
}

.dernier-img img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  transition: all 0.3s ease;
}

/* Validé pour l'instant. média queries à voir. */
.dernier-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dernier-logo img {
  padding-left: 0.5svw;
  max-width: 200%;
  max-height: 200%;
}

/* Effet au survol des boutons */
.btn-learn-more:hover {
  background-color: #007bff;
  color: #fff;
}

/* Media queries pour les écrans plus petits */

@media screen and (max-width: 1650px) {
  .title-cell {
    position: absolute;
    z-index: 1;
  }

  .content-cell {
    position: relative;
  }

  .dernier-img {
    position: relative;
  }

  .dernier-projet {
    margin-top: 3rem;
  }

  .first-column {
    margin-left: 0;
  }

  .separator {
    margin-left: 2svw;
  }
}

@media screen and (max-width: 1250px) {
  .dernier-logo, .separator {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* Supression esacement entre élèments */
  .dernier-projet {
    margin-top: 0rem;
  }

  /* Changement placement et espace */
  .content-row {
    display: flex;
    flex-direction: column;
  }

  .first-column {
    margin-top: 8svw;
  }

  .content-cell {
    display: block;
    width: 100%;
  }

  /* Relevé le contenu des vignettes*/
  .content-side{
    margin-bottom: 1svh;
  }

  .btn-side {
    margin-bottom: 0;
  }

  .btn-learn-more{
    padding: 1.2svh 2svw;
    margin-left: 5svw;
  }
}

@media screen and (max-width: 540px) {
  .first-column {
    margin-top: 10svw;
  }

  .btn-side {
    margin-bottom: 1svh;
  }

  .btn-learn-more{
    padding: 1.2svh 1.1svw;
  }
}

@media screen and (max-width: 360px) {
  .first-column {
    margin-top: 25svw;
  }
}

