/* style.css */

/* Dernière documentation et dernier projet */

/* Import de la police de caractères personnalisée */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* Le placement des éléments */

/* Reset */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* L'ensemble */
.dernier {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100svh;
  margin: 0;
  padding: 0;
}

.main-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title-cell {
  padding-left: 1vw;
}

.content-cell {
  width: 50%;
  height: auto;
  padding: 0;
  margin: 0;
}

/* Vignettes */

/* .column-dernier {
  display: block;
} */

.first-column {
  margin-left: 2vw;
}

.dernier-projet {
  position: relative;
}

.dernier-overlay {
  bottom: 0;
  display: flex;
  position: absolute;
  align-items: flex-end;
  /* justify-content: space-between; */
  /* box-sizing: border-box; */
  padding: 2%;
  width: 100%;
  height: 100%;
}

.content-side {
  display: flex;
  max-width: 80%;
}

.separator {
  background-color: #808080;
  margin: 0 2.5%;
  margin-top: 2%;
  width: 1px; /* voir quand le flex meilleurs */
  height: 9.3vh;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Utile ? */
}

.btn-side {
  display: flex;
  margin-bottom: 2%;
  margin-left: 7%; /* Ajust la position vers la droite */
  width: auto; /* Prends toutes la largeur */
}

.dernier-overlay h3 {
  margin-bottom: 10px; /*FLAG ?*/
}

.dernier-overlay p {
  padding: 0 0px; /*FLAG ?*/
}

.dernier-projet:hover {
  transform: translateY(-5px); /*FLAG*/
}

/* Styles */

.title-cell h2 {
  font-size: 24px; /*FLAG ?*/
  margin-bottom: 10px; /*FLAG ?*/
}

.dernier-overlay {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
  background-size: 200% 200%; /*Correct ?*/
}

.dernier-projet:hover .dernier-overlay {
  opacity: 1;
  background-position: 100% 0; /*Correct ?*/
  transition: background-position 0.5s, opacity 0.5s;
}

.dernier-overlay h3 {
  color: #fff;
  font-size: 24px; /*FLAG ?*/
}

.dernier-overlay p {
  color: #fff;
  font-size: 16px; /*FLAG ?*/
  margin-top: 5px; /* Ajuster l'espace entre H3 et p */ /*FLAG ?*/
  padding-right: 50px; /*FLAG ?*/
}

/* Styles pour les images des projets */

.dernier-img {
  position: relative;
  overflow: hidden;
  max-height: 500px; /*FLAG*/
}

.dernier-img img {
  width: 100%; /*Correct ?*/
  height: 50vh; /*Correct ?*/
  object-fit: cover;
  transition: all 0.3s ease;
}

.dernier-logo img {
  margin-top: 30px; /*FLAG ?*/
}

/* Styles pour les boutons */

.btn-learn-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px; /*FLAG ?*/
  background-color: #fff;
  color: #007bff;
  text-decoration: none;
  border-radius: 5px; /*FLAG ?*/
  font-size: 16px; /*FLAG ?*/
  transition: background-color 0.2s ease-in-out;
  margin-top: 15px; /*FLAG ?*/
  border: none;
  cursor: pointer;
}

.btn-learn-more:hover {
  background-color: #007bff;
  color: #fff;
}

/* Media queries pour les écrans plus petits */

/* @media screen and (max-width: 1200px) {

} */

/* @media (max-width: 992px) {

} */

/* @media (max-width: 768px) {

} */

/* @media (max-width: 576px) {
} */
